{% extends "base.html" %}
{% load user_extras %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 form-signin-heading">
      <h1 onclick="window.location='/user/home';">
        <span class="sub-heading">app</span>age
      </h1>
      <hr />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
        <h1>{{ device_name }} <small>Sessions and Notifications</small></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-heading">Application Usage</div>
        <ul class="list-group">
          {% for app, sessions in appSessions.iteritems %}
          <li class="list-group-item">
            <h4>{{ app }}</h4>

            <div class="panel panel-default">
              <div class="panel-heading">Sessions: {{ sessions|get_item:'total_time' }}</div>
              <ul class="list-group">
                {% for session in sessions|get_item:'sessions' %}
                <li class="list-group-item">
                  <ul>
                    {{ session.time_spent|convert_duration }} on {{ session.time_stamp| convert_date }}
                  </ul>
                </li>
                {% endfor %}
              </ul>
	      
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
