{% extends "base.html" %}
{% load user_extras %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 form-signin-heading">
      <h1 onclick="window.location='/user/home';">
        <span class="sub-heading">app</span>age
      </h1>
      <hr />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
        <h1>{{device.user}}'s {{ device.device_name }} <small>Sessions and Notifications</small></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Application Usage</h3></div>
        <ul class="list-group">
          {% for app, sessions in appSessions.iteritems %}
          <li class="list-group-item">
            <h4>{{ app }}</h4>
            <div class="panel panel-default">
              <div class="panel-heading">Sessions: {{ sessions|get_item:'total_time' |convert_duration }}</div>
              <ul class="list-group">
                {% for session in sessions|get_item:'sessions' %}
                <li class="list-group-item">
                  <ul>
                    {{ session.time_spent|convert_duration }} on {{ session.time_stamp| convert_date }}
                  </ul>
                </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Notifications</h3>
        </div>
        <div class="panel-body">
          {% for notification in notifications %}
          <div class="alert alert-danger notification"><strong>{{ notification|get_dev_name }}</strong><br /> {{ notification|get_app_name }} was used {{ notification.time_stamp|convert_date }} for {{ notification|get_notification_timespent}}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Settings</h3>
        </div>
        <div class="panel-body">
          <form method="post" action="/user/device/rename" accept-charset="UTF-8" role="form">
              {% csrf_token %}
            <legend>Rename device</legend>
            <fieldset>
                <input type="hidden" name="id" value="{{ device.device_id }}"/>
              <div class="form-group">
                <input class="form-control" placeholder="{{ device.device_name }}" name="name" type="text">
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="{{ device.user_name }}" name="username" type="text">
              </div>
              <input class="btn btn-lg btn-success btn-block" type="submit" value="Update">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
