{% extends "base.html" %}
{% load user_extras %}

{% block content %}
<div>
    {{ device_name }}
    <ul>
        {% for app, sessions in appSessions.iteritems %}
            <li>{{ app }} : 
                <ul>
                    <li>
                        Total time spent: {{ sessions|get_item:'total_time' }}

                    </li>
                    <li>
                        Sessions:
                        <ul>
                            {% for session in sessions|get_item:'sessions' %}
                            <li>
                                <ul>
                                Date: {{ session.time_stamp| convert_date }} for {{ session.time_spent|convert_duration }}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>   
                    </li>
                </ul> 
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
