{% extends 'base.html' %}

{% block content %}

<div class="container">
<form action="https://tethys.dcs.gla.ac.uk/AppTracker/api/v2/request" method="POST">
  <legend>Associate your AppTracker account!</legend>
  <input type="hidden" name="key" value="4zjorcyfjs5nuo9" />
  <input type="hidden" name="callback" value="http://localhost:8000/user/associate-response?" />
    <input name="email" placeholder="Email" class="form-control"/>
    <input type="password" name="password" placeholder="Password" class="form-control" />
    <input type="submit" value="Associate" class="btn btn-primary btn btn-lg btn-primary btn-block" />
</form>
</div>

{% endblock %}
