{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 form-signin-heading">
      <h1>
        <span class="sub-heading">app</span>age
      </h1>
      <hr />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="buttons">
        <button type="button" class="btn btn-primary btn-circle btn-xl" onclick="location.href='{% url 'user:profile' %}'">Profile</button>
        <button type="button" class="btn btn-info btn-circle btn-xl" onclick="location.href='{% url 'user:devices' %}'">Devices</button>
        <button type="button" class="btn btn-danger btn-circle btn-xl" onclick="location.href='{% url 'user:logout' %}'">Logout</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Notifications</h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-danger notification">
	    <strong>Device Name</strong><br />
	    This is a description of notification #1
	  </div>
          <div class="alert alert-danger notification"><strong>Device Name</strong><br /> This is a description of notification #2</div>
          <div class="alert alert-danger notification"><strong>Device Name</strong><br /> This is a description of notification #3</div>
          <div class="alert alert-danger notification"><strong>Device Name</strong><br /> This is a description of notification #4</div>
          <div class="alert alert-danger notification"><strong>Device Name</strong><br /> This is a description of notification #5</div>
          <div class="alert alert-danger notification"><strong>Device Name</strong><br /> This is a description of notification #6</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
